# Needed python packages
bitarray==2.9.2
black==24.3.0
h5py==3.10.0
matplotlib==3.8.3
mpi4py==3.1.5
numpy==1.26.4
numpydoc==1.6.0
pytest==8.1.1
sympy==1.12
scipy==1.12.0
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
mypy==1.9.0
sphinx-autodoc-typehints==2.0.0
ruff==0.3.3
typeguard==4.1.5
