# Needed python packages
bitarray==2.8.0
black==23.7.0
h5py==3.9.0
matplotlib==3.7.2
mpi4py==3.1.4
numpy==1.25.2
numpydoc==1.5.0
pytest==7.4.0
sympy==1.12
scipy==1.11.1
sphinx==6.2.1
sphinx-rtd-theme==1.2.2
mypy==1.4.1
pytype==2023.7.28
sphinx-autodoc-typehints==1.23.0
ruff==0.0.282
typeguard==4.1.0
