# Needed python packages
bitarray==2.9.2
black==24.4.2
h5py==3.11.0
matplotlib==3.9.0
mpi4py==3.1.6
numpy==2.0.0
numpydoc==1.7.0
pytest==8.2.2
sympy==1.12.1
scipy==1.14.0
sphinx==7.3.7
sphinx-rtd-theme==2.0.0
mypy==1.10.1
sphinx-autodoc-typehints==2.0.0
ruff==0.4.10
typeguard==4.3.0