# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        ./install_setup.sh
    - name: Check linting
      run: |
        # Activate virtual environment, and set PYTHONPATH
        source env.sh
        make check
    - name: Check documentation generation
      run: |
        # Activate virtual environment, and set PYTHONPATH
        source env.sh
        make -s -C doc/sphinx clean
        make -s -C doc/sphinx html
    - name: Test with pytest
      run: |
        # Activate virtual environment, and set PYTHONPATH
        source env.sh
        pytest

